<p>No gen AI was used in the making of this project. Gen AI sucks ass.</p>
<ul class="link-area">
    <% links.forEach((link) => { %>
        <li><%- include("./link.ejs", { link: link }) %></li>
    <% }); %>
</ul>