<div class="filter-area">
    <h2>Filter Area</h2>
    <%- include("./select.ejs", { genres: genres, consoles: consoles }); %>
    <a href="/">Reset</a>
</div>
<div class="add-area">
    <h2>Database Area</h2>
    <ul>
        <li><a href="/new">Create new item</a></li>
        <li><a href="/new-studio">Add a new Studio</a></li>
        <li><a href="/new-console">Add a new console</a></li>
    </ul>

</div>